.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0 40px 373px;
    background-color: cornsilk;
    width: 680px;
    height: 400px;
    border-radius: 10px;
    padding: 10px;

    .about_image {
        color: #502608;
        height: 200px;
        width: 200px;
        border-radius: 5px;
        border: 1px solid;
    }

    .text_about {
        display: flex;
        flex-direction: column;
        align-items: inherit;
        color: #502608;

        p {
            width: 340px;
            text-align: justify;
        }
    }
}