body {
    margin: 0;
    background-color: #f5e2c7;
}
.page {
    
        position: relative;
        top: 105px;
    

    .menu_gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin: 40px 0 138px 0;

        .menu_link {
            display: flex;
            flex-direction: row;
            gap: 20px;
            text-decoration: none;
            color: #502608;
            margin-right: -358px;

            .image_link {
                width: 100px;
                height: 100px;
                border-radius: 5px;

            }
        }

        .gallery_link {
            display: flex;
            flex-direction: row;
            gap: 20px;
            text-decoration: none;
            color: #502608;
            margin-left: -354px;

            .image_link {
                width: 100px;
                height: 100px;
                border-radius: 5px;

            }
        }
    }
}